.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    width: 87%;
    height: 50rem;
    border-radius: 8px;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    padding: 3.5rem 2.4rem;


    .pageview {
        color: var(--neutral-700)
    }

    .billingTag {
        .price {
            color: var(--neutral-900);
            font-size: 3.2rem;
        }

        .monthly {
            color: var(--primary-900);
            font-size: 1.4rem;
        }
    }

    .billing {
        display: flex;
        margin: 3rem 0;

        gap: 1.6rem;

        .text {
            align-self: center;
            font-size: 1.2rem;
            color: var(--neutral-700)
        }

        .toggleContainer {
            display: flex;
            align-items: center;
            width: 4.3rem;
            height: 2.2rem;
            border-radius: 15px;
            padding: 0 0.5rem;
            background-color: var(--neutral-500);

            .button {
                background-color: white;
                height: 1.4rem;
                width: 1.4rem;
                border-radius: 100px;

            }
        }
    }
}